.exp-section {
    color: white;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
    padding-top: 70px;
}

.exp-section .title {
    font-size: 28px;
    text-transform: uppercase;
    padding-bottom: 4px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: fit-content;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 120px;
    margin-bottom: 100px;
}

.education {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.education .edu-card {
    width: 500px;
    background-color: var(--color-card);
    padding: 24px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
}

.edu-card .card-text1 {
    font-weight: 200;
    opacity: 0.8;
    font-size: 14px;

}

.edu-card .card-text1 .icon {
    width: 14px;
    height: 14px;
    margin-right: 4px;
}

.edu-card .card-text2 {
    color: var(--color-blue);
    font-weight: 500;
    font-size: 22px;

}

.edu-card .card-text3 {
    margin-top: 4px;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    opacity: 0.9;

}

.edu-card .card-text4 {
    margin-top: 6px;
    font-weight: 300;
    font-size: 16px;
    opacity: 0.7;

}


@media screen and (max-width: 420px) {
    .exp-section .title {
        font-size: 24px;
    }

    .container {
    align-items: center;

        flex-direction: column;
        margin-bottom: 40px;
    }

    /* card */
    .education .edu-card {
        width: 350px;
        padding: 20px 20px 20px 20px;
        gap: 4px;
    }

    .edu-card .card-text1 {
        font-size: 12px;

    }

    .edu-card .card-text1 .icon {
        width: 12px;
        height: 12px;
    }

    .edu-card .card-text2 {
        font-size: 20px;
    }

    .edu-card .card-text3 {
        font-size: 12px;
        line-height: 18px;
    }

    .edu-card .card-text4 {
        font-size: 14px;
    }

}